.form-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the container full height of the viewport */
  }
  
  form {
    width: 300px; /* Set a fixed width for the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: calc(100% - 22px); /* Adjust input width to fit within form */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #28a745; /* Green color for submit button */
  }
  
  button[type="button"] {
    background-color: #dc3545; /* Red color for clear button */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  form.form-signup {
    margin-top: 48px;
    margin-left: 25px;
}